# Neon PostgreSQL Database URL
DATABASE_URL="postgresql://user:password@host:port/database"
CORS_ORIGIN=http://localhost:3000

# Authentication
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
GOOGLE_REDIRECT_URI="http://localhost:3001/auth/google/callback"
FRONTEND_URL="http://localhost:3000"
SESSION_SECRET="random-32-char-string"

# Port to run the server on (Render sets this automatically)
PORT=3001

# Environment
NODE_ENV=development
